[submodule "modules/vim/files/vim-config"]
	path = modules/vim/files/vim-config
	url = https://github.com/multatronic/vim-config
[submodule "modules/zsh/files/zprezto"]
	path = modules/zsh/files/zprezto
	url =https://github.com/multatronic/prezto-config.git 
[submodule "modules/stdlib"]
	path = modules/stdlib
	url =https://github.com/puppetlabs/puppetlabs-stdlib.git 
[submodule "modules/custom-commands/files/haste"]
	path = modules/custom-commands/files/haste
	url = https://github.com/multatronic/haste.git
[submodule "modules/puppetlabs-apt"]
	path = modules/puppetlabs-apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
